<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>


  <connectionStrings>
    <clear/> <!-- Kill default ConString of ASP.NET from machine.config-->
    <add name="myConString" providerName="System.SqlClient" connectionString="Connection Timeout=20;Server=(localdb)\\mssqllocaldb;Database=NORTHWND;Trusted_Connection=True;TrustServerCertificate=true;"/>



  </connectionStrings>



</configuration>
